.container{
    position: relative;
}

@keyframes monet-move{
    0%{
        transform: perspective(600px) rotateY(-45deg);
    }
    25%{
        transform: perspective(0px) rotateY(0deg);
    }
    50%{
        transform: perspective(600px) rotateY(45deg);
    }
    75%{
        transform: perspective(0px) rotateY(0deg);
        
    }
    100%{
        transform: perspective(600px) rotateY(-45deg);
    }
}

.animation-img{
    animation-name: monet-move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    position: absolute;
    top: 0;
    left: 0;
}



